ion-card{
    position: center;
    height: 75%;
    text-align: center;
    border: 5px solid;
    border-color: red;
    margin-bottom: 0px;
    margin-left: 20%;
    margin-right: 20%;
    --padding-bottom: 0px;
  }

  
  .center {
    border:5px solid;
    border-color: red;
    margin:20%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }